<!DOCTYPE html>

<html>
<head>
    <title>_userLayout</title>
</head>
<body>
<center>
    <div style="width: 700px; display: inline-block;">
        @RenderBody()
    </div>
</center>
</body>
</html>
